<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card position-relative overflow-hidden">
                <img src="<%= image_path('image1.jpg') %>" class="card-img-top img-fluid" alt="Image 1" style="height: 400px; object-fit: cover;">
                <div class="position-absolute top-0 start-0 h-100 d-flex flex-column justify-content-end p-3 text-white bg-opacity-50">
                    <h5 class="card-title">Deep Cleaning</h5>
                    <a href="#" class="btn btn-primary text-start px-3 py-1">
                    Read More <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card position-relative overflow-hidden">
                <img src="<%= image_path('image2.jpg') %>" class="card-img-top img-fluid" alt="Image 2" style="height: 400px; object-fit: cover;">
                <div class="position-absolute top-0 start-0 h-100 d-flex flex-column justify-content-end p-3 text-white bg-opacity-50">
                    <h5 class="card-title">Room Cleaning</h5>
                    <a href="#" class="btn btn-primary text-start px-3 py-1">
                        Read More <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card position-relative overflow-hidden">
                <img src="<%= image_path('image3.jpg') %>" class="card-img-top img-fluid" alt="Image 3" style="height: 400px; object-fit: cover;">
                <div class="position-absolute top-0 start-0 h-100 d-flex flex-column justify-content-end p-3 text-white bg-opacity-50">
                    <h5 class="card-title">Regular Cleaning</h5>
                    <a href="#" class="btn btn-primary text-start px-3 py-1">
                        Read More <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
