<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
  
 <a class="navbar-brand" href="#">
  <img src="<%= image_path('logo_sem_fundo.png') %>" class="d-block img-fluid" alt="Logo do Site" style="height: 60px; object-fit: cover;"/>
 </a>

  <ul class="navbar-nav flex-row d-md-none">
    <li class="nav-item text-nowrap">
      <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button>
    </li>
  </ul>
</header>
